#kanyehappy{
    height: 200px; width: 450px;
}
#kanyedogontaylor{
height: 200px; width: 450px;
}
#albumcolor{
    color: crimson;
}
#by{
    color: cadetblue;
}
body{
    background-color: beige;
}
#kanyedark{
    width: 200px;
}
#x{
    color: lightskyblue;
}
#insta{
    color: pink;
}
#instag{
    width: 100px; height: 100px;
}
#twitter{
    width: 100px; height: 100px;
}
#home{
    color: cadetblue;
}
#page{
    color: darkcyan;
}
#fla{
    color: orangered;
}
#me{
    color: orange;
}
#albumc{
    color: pink;
}
#kanyedogontaylor:hover{
width: 500px;
height: 400px;
transition: 5s;
}
#kanyehappy:hover{
    width: 500px;
    height: 400px;
    transition: 5s;
    }
    #firekanye:hover{
        width: 500px;
        height: 400px;
        transition: 5s;
        }
